* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-link {
  font-family: 'Nunito', sans-serif;
}

a {
  color: #FFF;
}

ul {
  list-style-type: none;
}

ul li {
  float: left;
}

ul.header li {
  float: left;
}

ul li a {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

ul li a:hover,
ul li a.active{
  background: #4d174d;
}

header svg {
  margin-top: -1%;
  font-size: 30px;
  color: #4C9AFF;
}

.selected {
  color: #F09D51 !important;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}

.floatLeft {
  float: left;
  margin-left: 20px;
}

.floatRight {
  position: absolute;
  right: 0px;
  margin-right: 10px;
  margin-top: 6px;
  color: white;
}
.pageContent {
  margin-top: 2%;
  padding: 0% 20%;
}

 ul.header li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

.flex-column{
  margin-top: 10%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.textMove{
  text-align: center;
  margin-top: 25px;
}

.logo{
  margin-bottom: 30px;
  margin-left: 10px;
}

.sidenav {
width: 240px;
background: #313638;
position: absolute;
height: 2500px;
padding: 0 10px;
left: -100%;
transition: all 1s;
}

.sidenav.active{
  left: 0;
}

.filedata.active{
  left: 0;
}

.sidenavBurger{
  margin-top: -32px;
}

header{
padding: 30px;
background: #313638;
height: 40px;
}

.nav-link{
  margin-bottom: -10px;
  font-size: 25px;
  color: #4C9AFF;
}
.nav-link:hover{
  color: #F09D51
}

.nav-link svg{
  margin-top: -5%;
}

.htext{
  margin-top: -50px;
  margin-left: 220px;
  font-size: 30px;
  color: #4C9AFF;
}
.htext2{
  margin-top: -48px;
  margin-left: 90%;
  font-size: 30px;
  color: #4C9AFF;
}
.htext3{
  margin-top: -50px;
  margin-left: 330px;
  font-size: 30px;
  color: #4C9AFF;
}
.htext4{
  margin-top: -45px;
  margin-left: 515px;
  font-size: 30px;
  color: #4C9AFF;
}
.htext5{
  margin-top: -45px;
  margin-left: 725px;
  font-size: 30px;
  color: #4C9AFF;
}

.alertLogout{
  margin-top: 20px;
  width: 475px;
}

.status{
  margin-top: -30%;
  width: 220px
}

.loginStatus{
  color: #313638;
}

.alert.alert-info{
  background: #B5D2F8;
}

.alertHeading {
color: #313638;
}

.content{
  align-self: center;
}

.infraImg{
  max-width: 75%;
  height: auto;
}