* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

ul li {
  float: left;
}

ul li a {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

ul li a:hover,
ul li a.active{
  background: #172b4d;
}

header svg {
  margin-top: -1%;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.selected {
  color: white !important;
}

.pageContent {
  margin: 0%;
}

 ul.header li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

.flex-column{
  margin-top: 30%;
}

.pagesMove{
  margin-left: 240px;
}

.TextMove{
  align-self: center;
}

.logo{
  margin-bottom: 30px;
  margin-left: 10px;
}

/* .logoPad{
width: 240px;
height: 200px;
left: -100%;
background: #ffffff;
} */

.status{
  margin-top: 95%;
}

.loginStatus{
  color: black;
}

.sidenav {
width: 240px;
background: #84234e;
position: absolute;
height: 100%;
padding: 0 10px;
left: -100%;
transition: all 1s;
}

.sidenav.active{
  left: 0;
}

header{
padding: 30px;
background: #84234e;
height: 40px;
}

.nav-link{
  margin-bottom: -10px;
  font-size: 25px;
  color: white;
}

.nav-link svg{
  margin-top: -5%;
}

.htext{
  margin-top: -40px;
  margin-left: 210px;
  font-size: 30px;
}
div.htext2{
  margin-top: -53px;
  margin-left: 94%;
  font-size: 30px;
}
div.htext3{
  margin-top: -45px;
  margin-left: 350px;
  font-size: 30px;
}
div.htext4{
  margin-top: -45px;
  margin-left: 525px;
  font-size: 30px;
}
div.htext5{
  margin-top: -45px;
  margin-left: 725px;
  font-size: 30px;
}

/* .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
} */